@font-face {
    font-family: 'Muller';
    src:
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}