.footer .container {
  max-width: 1100px;
  justify-content: space-between;
}

.address {
  font-size: 1rem;
}
.footer-center {
  
}
.footer-left {
  display: flex;
  align-items: center;
}
.socials-list {
  display: flex;
  justify-content: center;
}
.socials-list .social-item{
  max-width: 30%;
  margin: 5px;
}
.socials-list .social-item img{
  width: 100%;
}
.footer-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-end;
  justify-content: center;
}
.footer .phones {
  position: static;
}
.bitrix {
  margin-top: 1rem;
}