@media screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
  .header-title {
    font-size: 2rem;
    color: var(--primary-text-color);
    line-height: 1.2;
}
.cards-our-skills .card-title {
  font-size: 1.5rem;
}
.header-nav .nav-list {
  font-size: 1rem;
}
}

@media screen and (max-width: 800px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }
  .header-content {
    text-align: center;
    flex-direction: column;
    margin-left: 0;
  }
  .header .phones {
    position: static;
    justify-content: center;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .header-nav {
    display: none;
  }
  .header .phones {
    padding: 10px 0;
  }
  .header-title {
    padding: 10px 0;
  }
  .section-main-slider {
    padding: 20px 0;
  }
}
@media screen and (max-width: 460px) {
  .header-title {
    font-size: 20px;
  }
}