.section-our-works .container{
  flex-direction: column;
}
.section-our-works .section-images {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-our-works .section-images img {
  /* width: 30%; */
  height: 10rem;
  /* position: absolute; */
  position: relative;
  margin-left: -7.5%;
  box-shadow: -2px 5px 5px rgba(40, 54, 112, 0.5);
  top: 0;
}
.section-our-works .section-images img:nth-child(1) {
  margin-left: 0.5%;
}
.section-our-works .section-images img:nth-child(2) {
  margin-top: 2rem;
  z-index: 1;
}
.section-our-works .section-images img:nth-child(3) {
  margin-top: 2rem;
  z-index: 1;
}
/* .section-our-works .section-images img:nth-child(4) {
  left: 70%;
} */
.section-our-works .section-actions {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}