.section-competence .container {
  flex-direction: column;
}
.section-competence .section-body {
  display: flex;
  justify-content: center;
}
.section-competence .section-img {
  width: 60%;
}
.section-competence .section-img img {
  width: 100%;
}