.section-to-order {
  /* height: 815px; */
  position: relative;
}
.section-to-order .section-top {
  margin-top: 6rem;
}
.section-to-order .section-bg {
  background: url(../img/section-order-bg.png) no-repeat center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-to-order .section-bg-decor {
  background: rgba(40, 54, 112, .6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-to-order .section-body {
  width: 60%;
  margin-bottom: 6rem;
}
.section-to-order .container {
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

form input, textarea {
  background-color: transparent;
  border: 4px solid #fff;
  color: #fff;
  margin: .3rem;
  font-size: 20px;
  padding: 5px;
  outline: none;
}
form input::placeholder, textarea::placeholder {
  color: #fff;
}
form input {
  width: 100%;
  height: 50px;
}
form textarea {
  width: 100%;
  margin: 0.3rem;
  display: block;
  resize: none;
}
.form-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-bottom .button {
  margin-top: 20px;
}
.section-to-order .form-top {
  display: flex;
  justify-content: space-between;
}
form .button {
  border: none;
  border-radius: 10px;
  padding: 12px 70px 10px;
  background-color: #ffffff;
  color: #414d81;
  font-family: 'Muller', sans-serif;
  font-size: 2rem;
}