@import './vars.css';
@import './fonts.css';
@import './default.css';
@import './header.css';
@import './main-slider.css';
@import './section-our-skills.css';

@import './media.css';



.modal {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
}
.modal .container {
  width: 50%;
}
.modal-title {
  text-align: center;
  color: var(--blue);
}
.modal-body {
  background: #333;
  height: 80vh;
  margin-top: 50%;
  transform: translateY(-50%);
  overflow: auto;
  padding: 10px;
}
.modal-body .container {
  width: auto;
  
}
label {
  position: relative;
  color: var(--blue);
  display: block;
}
label.required_field:after {
  content: '*';
  color: red;
  position: absolute;
  top: 0;
  left: -10px;
}
.form-field input {
  width: 100%;

}
.modal form button {
  margin-left: 50%;
  transform: translateX(-50%);
}
.modal-body .close-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #111;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}